{% load static %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div>
        <a href="{% url 'post_new' %}">Post New</a>
        <h1><a href="">Blog</a></h1>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>